/*--------------------------------------------------------------
# Defaults
--------------------------------------------------------------*/
* {
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body {
    margin: 0;
}

:root {
    --primary-color: rgb(25, 119, 204);
}

.bg-blue {
    background-color: var(--primary-color);
}

.text-blue {
    color: var(--primary-color);
}


/*--------------------------------------------------------------
# Top Bar
--------------------------------------------------------------*/
#topbar {
    background: var(--primary-color);
    height: 40px;
    font-size: 1rem;
    transition: all 0.5s;
    z-index: 996;
    color: white;
}

#topbar .contact-info a {
    line-height: 1;
    color: white;
    transition: 0.3s;
}

#topbar .contact-info a:hover {
    color: rgb(202, 202, 202);
}

#topbar .contact-info i {
    color: white;
    padding-right: 4px;
    margin-left: 15px;
    line-height: 0;
}

#topbar .contact-info i:first-child {
    margin-left: 0;
}

#topbar .social-links a {
    color: white;
    padding-left: 15px;
    display: inline-block;
    line-height: 1px;
    transition: 0.3s;
}

#topbar .social-links a:hover {
    color: rgb(202, 202, 202);
}

#topbar .social-links a:first-child {
    border-left: 0;
}


/*--------------------------------------------------------------
# Navbar
--------------------------------------------------------------*/

nav .navbar-brand {
    font-weight: 700;
    font-size: 35px;
}

nav .navbar-brand span {
    color: var(--primary-color);
}

nav .nav-link {
    color: black !important;
}

nav .collapse {
    width: 100%;
}

nav li .nav-link {
    font-size: 20px;
    position: relative;
    margin-inline: 10px;
}

nav li .nav-link::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 5px;
    background-color: var(--primary-color);
    transition: width 0.3s ease-in-out;
}

nav li .nav-link:hover::after {
    width: 100%;
}

nav .appointment a {
    background-color: var(--primary-color);
    color: white;
    font-size: 16px;
    font-weight: 900;
    transition: all .5s;
}


main{ 
    max-width: 720px !important;
}

